<h1>add some food to your menu</h1>

<h1><%= @item.title %></h1>

<h2>menus</h2>
<ul>
  <% @categories.each do |category| %>
    <li><%= category.name %> | <%= link_to "add the item to this menu", admin_category_items_path(item_id: @item.id, category_id: category.id ), method: :post %></li>
  <% end %>
</ul>

<%= link_to 'back to menu items', :back %>
