<h1>items...all of them</h1>


<h1>admin</h1>


<h2>items</h2>
<ul>
  <% @items.each do |item| %>
    <li>  <%= link_to item.title, admin_item_path(item) %>      |||| <%= link_to "edit", edit_admin_item_path(item) %></li>
  <% end %>
</ul>
<p><%= link_to "add an item", new_admin_item_path %></p>

<p><%= link_to "back to admin page", admin_user_path(current_user) %></p>
