<h1>menus that contain: <%= @item.title %> </h1>

<ul>
  <% @item.categories.each do |category| %>
    <li><%= category.name%></li>
  <% end %>

  <%= link_to "add this item to a menu", admin_new_category_to_item_path(item_id: @item.id) %>
</ul>
