<h1>Orders</h1>
<table class="table-responsive">
  <th>

  </th>
  <tr class="active">
    <td>
      <% @orders.each do |order| %>
        <ol>status: <%= order.status %></ol>
  </td>
      <% end %>
  </tr>
</table>
