<h1>Farm to Table</h1>

<div id="main-page">

<h2><%= link_to "menus", categories_path  %></h2>
<h3><%= link_to "new farmhand", new_user_path %></h3>
<h6><%= link_to "profile", profile_path %></h6>

</div
