<h1><%= @user.name %></h1>
<div class="col-sm-12" style="text-align: center;">
<% @user.orders.each do |order| %>
  <h2>order:</h2> <h4><%= order.items.count %> item(s)</h4>
    <h4><%= link_to "view this order", order_path(order) %><br></h4>
<% end %><br>
</div><br>
