<h1><%= @user.name %></h1>

<ol><% @user.orders.each do |order| %>
  <li>your order: <%= order.items.count %> item(s)</li>
    <%= link_to "view this order", order_path(order) %>
<% end %></ol>
<%= link_to "something about going to the root", root_path %>
