<h1>menus</h1>

<ul>
  <% @categories.each do |category| %>
    <li><%= link_to category.name, admin_category_path(category) %> | <%= link_to "edit", edit_admin_category_path(category) %></li>
  <% end %>
</ul>
<p><h4><%= link_to "add a menu", new_admin_category_path %></h4></p>

<p><h6><%= link_to "admin page", admin_user_path(current_user) %></p></h6>
