/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e5e8e0;
}

.container-fluid {
  max-width: 80%;
}

img {
  width: 100%;
}

.featured {
  background-color: #c3a17d;
  h3 {color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    padding-bottom: 20px
  }
  h6 {color: #fff;
    border-bottom: 1px solid #fff;
  }

}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-family: 'Merriweather', serif;
  font-style: italic;
}

.featured-two {
  background-color: white;
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #ccc;
  h3 {color: black;
    text-transform: uppercase;
    font-style: normal;
  }
  h6 {color: #999;
    border-bottom: 1px solid #999;
  }

  }


.featured-three{
  background-color: #b9b9b9;
  min-height: 308px;
}

.featured, .featured-two, .featured-three, .featured-four {
  margin-bottom: 15px;
  min-height: 165px;
}

.featured-four {
  padding-left: 0px;
}

.right-space {
  margin-right: 15px;
}

.small-box{
  width: 28%;
}

.small-box-2 {
  width: 30.6%;
}

.height {
  min-height: 374px;
}

.negative-left {
  margin-left: -14px;
}

.small-box-3 {
  width: 15.2%;
}

.custom-width {
  width: 108.3%;
}
