/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: #e0e0e0;
  background-image: url("/assets/woody.jpg");
  // background-repeat: no-repeat;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
  h1 {
    text-align: center;
  }


}

.container-fluid {
  max-width: 80%;
  background-color: transparentize(white, .3);
}


.center-in-column {
  text-align: center;

}

.navbar-btn {
  float: right;
}

.glyphicon {
    font-size: 30px;
}

.special-bigger {
  font-size: 30px;
  font-family: 'Lobster Two', cursive;
  padding-top: 16px;

}

.bigger {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  padding-top: 1px;
}

img {
  width: 100%;
}

.featured {
  background-color: #c3a17d;
  h3 {color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 3em;
    padding-bottom: 20px;
    a {
      color: #1b440c;
    }

  }
  h6 {color: #fff;
    border-bottom: 1px solid #fff;
  }

}

h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
}

h6 {
  font-family: 'Merriweather', serif;
  font-style: italic;
}

.featured-two {
  background-color: white;
  font-family: 'Merriweather', serif;
  font-style: italic;
  color: #ccc;
  h3 {color: black;
    text-transform: uppercase;
    font-style: normal;
    a {
      color: black;
    }
  }
  h6 {color: #999;
    border-bottom: 1px solid #999;
  }

  }


.featured-three{
  background-color: #b9b9b9;
  min-height: 308px;
}

.featured, .featured-two, .featured-three, .featured-four {
  margin-bottom: 15px;
  min-height: 165px;
}

.featured-four {
  padding-left: 0px;
}

.right-space {
  margin-right: 13px;
}

.small-box{
  width: 28%;
}

.small-box-2 {
  width: 30.6%;
}

.height {
  min-height: 335px;
}

.small-height {
  height: 335px;
}

.negative-left {
  margin-left: -14px;
}

.small-box-3 {
  width: 15.2%;
}

.custom-width {
  width: 110%;
}

.box-height {
  height: 100px
}

.nav-feature {
  color: black;

}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-show-img {
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.main {
  position: relative;
  text-align: center;
  margin-bottom: 35px
  h1 {
    color: #666666;
  }

}

.main:after {
   content : "";
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: -1;
   margin-bottom: 35px

}

a {
  color: #497714;
}

.check-box-label {
  text-align: right;
  margin-bottom: 0;
  padding-top: 0px;
}
