<h1>menus</h1>

<% @categories.each do |category| %>
  <div class="col-lg-4 col-sm-4 center-in-column">
    <h3 id="menulink"><%= link_to image_tag("#{category.name.split.first}.jpg"), category %></h3>
  </div>

<% end %>

<div class="col-lg-4 col-sm-4 center-in-column">
  <h3><%= link_to image_tag("all.jpg"), items_path %></h3>
</div>
