<h1>menus</h1>

<% @categories.each do |category| %>
  <div class="col-lg-4 col-sm-4 center-in-column">
    <h3><%= link_to category.name, category %></h3>
  </div>
<% end %>

<div class="col-lg-4 col-sm-4 center-in-column">
  <h3><%= link_to 'all items', items_path %></h3>
</div>
