<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Farm to Table</a>
        <% if current_user %>
          <%= link_to "logout", logout_path, method: :delete %>
        <% else %>
          <%= link_to "login", login_path %>
        <% end %>
        <%= link_to new_order_path, class: 'btn btn-hover' do %>
          <i class="glyphicon glyphicon-shopping-cart"></i> cart
        <% end %>
    </div>
  </div>
</nav>
